body{
    background-color: rgb(167, 204, 236);
    font-family: 'Montserrat', sans-serif;
}

.title{
    text-align: center;
    font-weight: 700;
    font-size: 64px;
}



.block{
    display: flex;
    justify-content: center;
}

.icons{
    display: grid;
    justify-content: center;
    gap: 15px;
}

.inputOne{
    border-radius: 10px;
    padding: 10px;
    border: none;
    font-size: 24px;
}

.inputTwo{
    border-radius: 10px;
    padding: 10px;
    border: none;
    font-size: 24px;
}

.plus{
    background-color: black;
    color: white;
    font-weight: 500;
    font-size: 24px;
    border-radius: 10px;
    border: none;
}

.minus{
    background-color: black;
    color: white;
    font-weight: 500;
    font-size: 24px;
    border-radius: 10px;
    border: none;
}

.umn{
    background-color: black;
    color: white;
    font-weight: 500;
    font-size: 24px;
    border-radius: 10px;
    border: none;
    
}

.del{
    background-color: black;
    color: white;
    font-weight: 500;
    font-size: 24px;
    border-radius: 10px;
    border: none;
}

.submitBtn{
    background-color: black;
    color: white;
    font-weight: 500;
    font-size: 24px;
    border-radius: 10px;
    border: none;
}

.otvet{
    text-align: center;
    font-weight: 600;
    color: rgb(231, 24, 221);
}

.result{
    text-align: center;
    
}